<form action="/favourites" method="post">
  <button type="submit" class="bg-[#151E3D] float-right p-2 rounded-md ml-2 mb-2 inline"> Add to Favourites </button>
  <input type="hidden" name="homeId" value="<%=home._id%>">
</form>